@import "tailwindcss";


@layer base {
  body {
    background-color: var(--color-gray-900);
    color: white; 
  }
}

.shadow-retro-glow {
  box-shadow: 
    2px 2px 2px 1px rgb(104 0 0), 
    2px 2px 3px 1px rgb(21 107 0), 
    inset 1px 2px 8px 1px #efffa5;
}

